.about
	margin-top 15px
	clearfix()
	
	p
		line-height 1.25em
		margin 0 auto 1em
		
	h1
	h2
	h3
		margin 0 auto 1em
		
	h1
		font-size 14px
		font-weight $semiBold
		text-transform uppercase
		letter-spacing 0.18em
		
	h2
		font-size 12px
		font-weight $semiBold
		text-transform uppercase
		letter-spacing 0.18em
		
	h3
		font-size 12px
		font-weight $semiBold
		letter-spacing 0.18em
	
	&.column3
		div
			width 310px
			float left
			
			&.center
				margin 0 15px
			
			img
				width 100%
				margin-bottom 15px
				display block
		
	&.column2
		div
			float left
			
			&.left
				width 310px
				margin-right 15px
				
			&.right
				width (310 * 2) + 15px
				
			img
				width 100%
				margin-bottom 15px
				display block
				
	&.column1
		div
			width 70%