footer
	border-top 1px solid black
	width 960px
	margin 1em auto 0
	font-size 9px
	
	.footer-navigation
		width 500px
		margin 2em auto
		clearfix()
		
		ul 
			list-style none
			padding 0
			margin 0
			
			li
				width 25%
				float left
				text-align center
				letter-spacing 0.18em
				
				a
					color inherit
					color #888
	
	.copyright
		margin-top 2em
		
		p
			font-size 10px
			text-align center
			color #888
			line-height 1.2em
			letter-spacing 0.18em
			
		span
			display block
			text-align center
			color #888
			margin 2.5em
			letter-spacing 0.18em