.landing
	.product
		margin-top 3em
		clearfix()
		
		.left
			width 30%
			
			img
				display block
				margin 0 auto
			
		.right
			width 70%
			
		.left
		.right
			float left
			
		.name
		.house
			font-size 1em
			margin 0
			line-height 1em
			
		.name
			text-transform uppercase
			
		.house
			font-weight normal
			margin .5em 0
			font-size .8em
			
		.price
			font-weight bold
			margin 2em auto
			display block
			
		.column
			width 50%
			float left
			padding-right 1.5em
			box-sizing border-box
			line-height 1.25em
			
			p
				margin-top 0
			
		.column-right
			border-left 1px solid black
			padding-left 1.5em