/* !
	Theme Name: ChampagneShoppen
	Theme URI: http://www.champagneshoppen.com/
	Author: Jeppe H. Olesen / Ditte H. Grønvang
	Author URI: http://cowcowmoomoo.net
	Description: Theme for ChampagneShoppen.com
	Version: 0.0.1
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Text Domain: champagne

	This theme, like WordPress, is licensed under the GPL.
	Use it to make something cool, have fun, and share what you've learned with others.
*/

// Font
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700'

// Helpers
@import 'kouto-swiss'
normalize()

// Foundation imports
@import 'foundation/vars'
@import 'foundation/structure'
@import 'foundation/typography'

// Modules
@import 'modules/navigation'
@import 'modules/footer'
@import 'modules/product'
@import 'modules/about'

// Pages
@import 'pages/landing'
